<div>
    <div class="header">
    <div class="logo">
        <img src="./../images/logo.svg" />
    </div>
    <div class="controls">
        <img src="./../images/settings.svg" />
        <img src="./../images/help.svg" />
        <img src="./../images/company_name.png" />
    </div>
    </div>

    <div class="main">
    <div class="navigation">
        <div class="menu menu-header">
        <div class="icon-wrapper">
            <font-awesome-icon icon="pencil-alt" />
        </div>
        <div>Immatriculation</div>
        </div>
        <div class="menu active">
        <div class="icon-wrapper"></div>
        <div>1. Votre Societe</div>
        </div>
    </div>

    <div class="content">
        <div class="main-wrapper">
        <div class="title">Verifiez vos informations et completez si necessaire !</div>
        <p>A la validation de ces etapes vous allez pouvoir telecharger vos status provisires qui vous permettront d'ourvrir votre compte capital.</p>
        <p>
            <span class="important">Important :</span>
            <span>
            Verifez bien toutes les informations avant de valider cette etape car vous ne pourrez pas revenir les modifier par la suite
            </span>
        </p>

        <div class="cards-container">

            <div class="card-wrapper green">
                <div class="type">Validee</div>
                <div class="image">
                    <img src="./../images/Location.svg" />
                </div>
                <div class="title">Votre societe</div>
                <div class="description">Modifiez vos informations</div>
            </div>

            <div class="card-wrapper blue">
                <div class="type">A completer</div>
                <div class="image">
                    <img src="./../images/setting.svg" />
                </div>
                <div class="title">Votre Activite</div>
                <div class="description">MQuelle sera i'activite de votre societe ?</div>
            </div>

            <div class="card-wrapper red">
                <div class="type">Etape 3</div>
                <div class="image">
                    <img src="./../images/capital.svg" />
                </div>
                <div class="title">VCapital Social</div>
                <div class="description">Qui est associe dans votre societe ?</div>
            </div>

            <div class="card-wrapper blue">
                <div class="type">Etape 4</div>
                <div class="image">
                    <img src="./../images/handshake.svg" />
                </div>
                <div class="title">Vos Dirigeants</div>
                <div class="description">Qui dirigera votre societe ?</div>
            </div>

            <div class="card-wrapper blue">
                <div class="type">Etape 5</div>
                <div class="image">
                    <img src="./../images/fiscality.svg" />
                </div>
                <div class="title">Fiscalite</div>
                <div class="description">Comment sera imposee votre societe ?</div>
            </div>

            <div class="card-wrapper blue">
                <div class="type">Etape 6</div>
                <div class="image">
                    <img src="./../images/fiscality.svg" />
                </div>
                <div class="title">Vos Statuts</div>
                <div class="description">Apercu de vos status</div>
            </div>
        </div>

        <div class="warning">
            <font-awesome-icon icon="exclamation-circle" />
            <span>Vous devez remplir chaque case et verifier vos informations. Vous avez encore des informations manquantes dans les case en rouge.</span>
        </div>

        <div class="button-controls">
            <button class="return">RETOUR</button>
            <button class="submit">SUIVANT</button>
        </div>

        <div class="content-description">
            <b>Mentions legales</b>
            <div>
            les donnees collectees sont traitees par BETAO AB, Editeur du Site <a>www.simplitoo.fr</a> et responsable
            de traitement, afin de vous faournir ie sevice commande. les champs avec un asterisque sant abligatories En application de la loi du 6 javbier 1978 modifiee dite information et liberies et du regle
            de traitement, afin de vous faournir ie sevice commande. les champs avec un asterisque sant abligatories En application de la loi du 6 javbier 1978 modifiee dite information et liberies et du regle
            de traitement, afin de vous faournir ie sevice commande. les champs avec un asterisque sant abligatories En application de la loi du 6 javbier 1978 modifiee dite information et liberies et du regle
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
